<!DOCTYPE html>
<html id="app">
<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link href="//cdn.bootcss.com/normalize/4.1.1/normalize.min.css" rel="stylesheet">
  <link href="app/app.css" rel="stylesheet">
  <link rel="apple-touch-icon-precomposed" sizes="180x180" href="asserts/images/icon.png">
  <script src="//cdn.jsdelivr.net/vue/latest/vue.js"></script>
</head>
<body>
  <div class="container text-center">
    <h1>{{title}}</h1>
    <img v-bind:src="dog.avatar">

    <div class="form">
      <div class="input-group">
        <label for="">狗粮重量</label>
        <input type="text" v-model="total">
        g
      </div>
      <div class="input-group">
        <label for="">每天要吃</label>
        <input type="text" v-model="daily">
        g
      </div>
      <p>你的狗粮还剩 {{total/daily || 0}} 天</p>
    </div>
  </div>

  <div class="container">
    <h2>体重记录</h2>
    <ul class="weights">
      <li v-for="weight in weights">{{weight.weight}} kg - <small>{{weight.date}}</small></li>
    </ul>
  </div>

  <div class="container">
    <h2>狗粮-干粮</h2>
    <ul class="dry-foods">
      <li v-for="food in dry_foods">
        <strong>{{food.name}} {{food.review}}</strong>
        <p>{{food.describe}}</p>
      </li>
    </ul>
  </div>

  <script src="https://cdn1.lncld.net/static/js/av-min-1.0.0.js"></script>
  <script src="app/app.js" charset="utf-8"></script>

  <div class="ds-thread container" data-thread-key="{{dog.name}}" data-title="{{title}}" data-url="http://iuhoay.github.io/boom/"></div>
  <script type="text/javascript">
  var duoshuoQuery = {short_name:"boom-iuhoay"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.unstable.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0]
    || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
  </script>

</body>
</html>
