<!DOCTYPE html>
<html id="app">
<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="apple-touch-icon-precomposed" sizes="180x180" href="asserts/images/icon.png">
  <link href="asserts/stylesheet/hack.css" rel="stylesheet" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
</head>
<body class="hack">
  <div class="main container">
    <h1>{{title}}</h1>
    <img v-bind:src="dog.avatar">

    <form class="form">
      <fieldset class="form-group">
        <label for="">狗粮重量</label>
        <input type="text" v-model="total" class="form-control">
      </fieldset>
      <fieldset class="form-group">
        <label for="">每天要吃</label>
        <input type="text" v-model="daily" class="form-control">
      </fieldset>
    </form>
    <p>你的狗粮还剩 {{total/daily || 0}} 天</p>
  </div>

  <div class="container">
    <h2>体重记录</h2>
    <table>
      <thead>
        <tr>
          <th>kg</th>
          <th>date</th>
        </tr>
        <tr v-for="weight in weights">
          <td>{{weight.weight}} kg</td>
          <td>{{weight.date}}</td>
        </tr>
      </thead>
    </table>
  </div>

  <div class="container">
    <h2>狗粮-干粮</h2>
    <ul class="dry-foods">
      <li v-for="food in dry_foods">
        <strong>{{food.name}} {{food.review}}</strong>
        <p>{{food.describe}}</p>
      </li>
    </ul>
  </div>

  <script src="https://cdn1.lncld.net/static/js/av-min-1.0.0.js"></script>
  <script src="app/app.js" charset="utf-8"></script>

  <div class="ds-thread container" data-thread-key="{{dog.name}}" data-title="{{title}}" data-url="http://iuhoay.github.io/boom/"></div>
  <script type="text/javascript">
  var duoshuoQuery = {short_name:"boom-iuhoay"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.unstable.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0]
    || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
  </script>

</body>
</html>
